<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2"><span class="black-text"><b>Servicios de belleza al instante!</b></span></h1>
            <div class="row center">
                <h5 class="header col s12 light"> <span class="orange-text accent-3"><b>Una herramienta para que encuentres el servicio que buscas, donde quieras y cuando lo quieras, asi de facil.</b></span></h5>
            </div>
        </div>
    </div>
    <div class="parallax">
      <%= image_tag("beautyshop3.jpg", class:"responsive-img", alt:"BEAUTY SHOP") %>
    </div>
</div><!-- BANNER 1 -->


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="medium material-icons">location_on</i></h2>
                    <h5 class="center">Servicio Presencial</h5>

                    <p class="light center">Puedes ubicar su sitio de preferencia y establecer contacto para agendar una cita.!</p>
                </div>
            </div>

            <!-- <div class="col s12 m6 l6">
                <div class="icon-block">
                    <h2 class="center black-text"><i class="material-icons">gps_fixed</i></h2>
                    <h5 class="center">Servicio a Domicilio</h5>

                    <p class="light center">Puede contactar para agendar una visita en su domicilio con el estilista que ofrece servicios con esta modalidad.</p>
                </div>
            </div> -->

            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="parallax">
      <%= image_tag("services.png", class:"responsive-img", alt:"img 2") %>
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contactanos</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax">
      <%= image_tag("barbershop1.jpg", class:"responsive-img", alt:"img 3") %>
    </div>
</div>
