<nav class="black" role="navigation">
            <div class="nav-wrapper container">

                <a id="logo-container" href="#" class="brand-logo">Saloon</a>

                <ul class="right black btn">
                    <li><a class="waves-effect waves-orange black "><i class="material-icons">location_searching</i>Ubicacion</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav grey darken-3">
                    <li><a class="black white-text" href="#">boton navegacion</a></li> <!-- si es pantalla mobil, bonton de navegacion -->
                </ul>
                <a href="#" data-activates="nav-mobile" class="white-text button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center teal-text text-lighten-2"><span class="black-text"><b>Servicios de belleza al instante!</b></span></h1>
                    <div class="row center">
                        <h5 class="header col s12 light"> <span class="orange-text accent-3"><b>Una herramienta para que encuentres el servicio que buscas, donde quieras y cuando lo quieras, asi de facil.</b></span></h5>
                    </div>
                    <div class="row center">
                        <a href="#" id="download-button" class="btn-large waves-effect waves-light grey darken-3">Registrate</a>
                    </div>
                    <br><br>

                </div>
            </div>
            <div class="parallax">
              <%= image_tag("beautyshop3.jpg", class:"responsive-img", alt:"BEAUTY SHOP") %>
            </div>
        </div><!-- BANNER 1 -->


        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center black-text"><i class="material-icons ">location_on</i></h2>
                            <h5 class="center">Servicio Presencial</h5>

                            <p class="light center">Usted puede ubicar su sitio de preferencia y establecer contacto para agendar una cita.</p>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h2 class="center black-text"><i class="material-icons">gps_fixed</i></h2>
                            <h5 class="center">Servicio a Domicilio</h5>

                            <p class="light center">Puede contactar para agendar una visita en su domicilio con el estilista que ofrece servicios con esta modalidad.</p>
                        </div>
                    </div>

                    <!--div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Easy to work with</h5>

                            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                        </div-->
                    </div>
                </div>

            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light"><span class="amber-text darken-3"><b>Servicios para hombres, los mejores sitios...</b></span></h5>
                    </div>
                </div>
            </div>
            <div class="parallax">
              <%= image_tag("beautyshop1.jpg", class:"responsive-img", alt:"img 2") %>
            </div>
        </div>

        <div class="container">
            <div class="section">

                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h4>Contactanos</h4>
                        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                    </div>
                </div>

            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                    </div>
                </div>
            </div>
            <div class="parallax">
              <%= image_tag("beautyshop2.jpg", class:"responsive-img", alt:"img 3") %>
            </div>
        </div>

        <footer class="page-footer black">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="grey-text darken-3">Company Bio</h5>
                        <p class="grey-text-text">Somos un equipo de estudiantes interesados en implementar una herramienta tecnologica que contribuya en el medio de la belleza corporal a poner en contacto clientes con prestadores de servicio, facilitando la comunicacion y expandiendo areas de cobertura aprovechando la usabilidad y accesibilidad de las plataformas web de la actualidad.</p>
                    </div>

                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>

                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="#">Saloon</a>
                </div>
            </div>
        </footer>
