/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

a {
  color: white;
}

 div span.flash_message {
  margin-top: 20px;
 }

 div span.flash_message_alert {
   margin-top: 20px;
 }

 .container.center > span {
   display: block;
 }

 .sucess {
   background-color: #5DBB6C ;
   border-radius: 10px;
   border-width: 2px;
 }

 .alert {
   background-color: rgb(252,222,222);
   border-radius: 10px;
   border-width: 2px;
   border-color: rgb(210,178,178);
   color: rgb(153,17,17);
   border-style: solid;
 }

 form {
   margin-top: 35px;
 }

 .error-icon {
   color: red;
 }

 .error-border {
   border-bottom: 1px solid #E53935 !important;
   box-shadow: 0 1px 0 0 #E53935 !important;
 }

 .error {
   color: #E53935;
 }

 .error-title {
   font-size: 20px;
   font-weight: bold;
 }

 .error-message li {
   margin: 10px;
 }

 .pagination a li.active {
   color: #fff;
 }
 .pagination {
   margin: 3%;
   a li {
     margin-top: 4px;
     width: 2%;
     height: auto;
   }
 }

 @media #{$small-and-down} {
   .container.center > span {
     height: auto;
   }

   div span.flash_message_alert {
     margin-top: 10px;
   }

   div span.flash_message {
     margin-top: 10px;
   }
   .pagination {
     margin: 3%;
     a li {
       width: 4%;
       height: auto;
     }
   }
 }

 .file-field {
     margin-left: 0.5% !important;
 }

 .dropdown-content {
  margin-left: 15px !important;
  margin-top: 0px !important;
 }
